
body {
    font-family: 'Arial', sans-serif;
    color: white;
}

.fade-bg {
    background: linear-gradient(135deg, #000000, #010035, #8570fd);
    background-size: 400% 400%;
    animation: gradientFade 5s ease infinite;
}

@keyframes gradientFade {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.glass {
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(12px);
    border-radius: 14px;
    color: white;
}

.custom-progress {
    height: 28px;
    border-radius: 20px;
    overflow: hidden;
    background: rgba(255,255,255,0.2);
}

.custom-bar {
    background: linear-gradient(90deg, #b1a3ff, #2d16ff);
    font-weight: 600;
    color: white;
    display: flex;
    align-items: normal;
    padding-left: 10px;
    text-align: center !important;
    display: flex;            
    justify-content: center;  
}

.progress-text {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  pointer-events: none;
  text-align: center !important;
}